body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 20px;
  text-align: center;
  background-color: #dfd7d7;
  color: #333;
}

header {
  text-align: center;
  border-bottom: 2px solid #664bd1;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

h1 {
  color: #664bd1;
}

h2 {
  color: #36152b;
}

article h3 {
  font-style: italic;
  color: #0cd767;
}

section {
  margin-bottom: 20px;
}

ul {
  list-style-type: square;
}

li {
  margin: 5px 0;
}

nav a {
  text-decoration: none;
  color: #336699;
}

a {
  color: #9a151b;
}

p {
  margin: 10px 0;
}

footer {
  text-align: center;
  font-size: 14px;
  color: #777;
  margin-top: 40px;
}

img {
  max-width:250px;
  border-radius: 100%;
}
